	.content {
		padding-top: 80px;
	}

	nav.navbar.navbar-inverse.navbar-fixed-top {
		background-color: silver;
		-webkit-box-shadow: 0px 7px 5px 0px rgba(112, 111, 112, 1);
		-moz-box-shadow: 0px 7px 5px 0px rgba(112, 111, 112, 1);
		box-shadow: 0px 7px 5px 0px rgba(112, 111, 112, 1);
	}

	a {
		text-decoration: none;
		color: maroon;
	}

	hr {
		margin-top: 20px;
		margin-bottom: 20px;
		border: 0;
		border-top: 3px solid #800000;
	}
